@model List<OrderModel>
@using FlowerShop.Data.Models
@using FlowerShop.Services.Carts
@using FlowerShop.Services.Orders
@using Microsoft.AspNetCore.Identity

    
    @{
    ViewBag.Title = "My Flowers";
    }

    @if(!Model.Any())
    {
        <h5 class="card-title">There are no orders yet.</h5>
    }

    @if(Model.Any())
    {

               <div class="row">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Order#</th>
                          <th scope="col">Flower</th>
                          <th scope="col">Price</th>
                        </tr>
                      </thead>

                    
                 @foreach(var order in Model){
                      <tbody>
                        <tr>
                          <th scope="row">@order.OrderId</th>
                          <td>@order.Flowers</td>
                          <td>@order.TotalPrice</td>
                        </tr>
                      </tbody>
                 }
                  </table>
               </div>

    }
