@model OrderQueryServiceModel
    
    @{
    ViewBag.Title = "All Orders";
    }

    @if(!Model.Orders.Any())
    {
        <h5 class="card-title">There are no orders yet.</h5>
    }

    @if(Model.Orders.Any())
    {

               <div class="row">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Order #</th>
                          <th scope="col">Flower</th>
                          <th scope="col">Price</th>
                          <th scope="col">Address</th>
                        </tr>
                      </thead>

                 @foreach(var order in Model.Orders){
                      <tbody>
                        <tr>
                          <th scope="row">@order.OrderId</th>
                          <td>@order.Flowers</td>
                          <td>@order.TotalPrice</td>
                          <td>@order.OrderAddress</td>
                        </tr>
                      </tbody>
                 }
                  </table>
               </div>

    }