@model IEnumerable<FlowerServiceModel>

    @{
    ViewBag.Title = "My Flowers";
}

@if (!Model.Any()){
    <h2>You don't have anything in your cart!</h2>
}

<partial name="_FlowersPartial" model="@Model" />