@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://pyxis.nymag.com/v1/imgs/431/405/f532d2de344840c6a151bc3a073a56af51-flowers.2x.rsocial.w600.jpg" alt="First slide">
    </div>
</div>

