@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0781/4423/files/01_483a27de-5f63-4dd7-b1f1-c64ecc48f8f5.jpg?v=1536803868" alt="First slide">

</div>

