html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

a {
    color: lightpink;
}
    a:hover {
        color: #ff54cc;
    }

.navbar-custom,
.footer-custom{
    background-color: lightpink;
}
.custom-pink-bg {
    background-color: lightpink;
}

.btn-custom{
    background-color: pink;
}

.btn-login{
    margin-left: 50px;
}
